input[type=text], input[type=number] {
  height:25px;
  padding:3px 5px;
}

label {
  margin-top:5px;
}

.input-group-addon {
  padding:4px 4px;
}

.reduced-padding {
  padding:4px;
}

.input-row li span {
  position: relative;
  top: -9px;
  left:-4px;
  padding:0 !important;
}

.subtotal {
  font-size:16px;
}
.subtotal-description {
  line-height:1.1em;
  font-size:16px;
}

.col-sm-auto, .col-sm-0 {
  width:auto;
  float:left;
}
.col-md-1, .col-sm-1 {
  width:8.333%;
  float:left;
}
.col-md-2, .col-sm-2 {
  width:16.666%;
  float:left;
}
.col-md-3, .col-sm-3 {
  width:25%;
  float:left;
}
.col-md-4, .col-sm-4 {
  width:33.333%;
  float:left;
}
.col-md-5, .col-sm-5 {
  width:41.666%;
  float:left;
}
.col-md-6, .col-sm-6 {
  width:50%;
  float:left;
}
.col-md-7, .col-sm-7 {
  width:58.333%;
  float:left;
}
.col-md-8, .col-sm-8 {
  width:66.666%;
  float:left;
}
.col-md-9, .col-sm-9 {
  width:75%;
  float:left;
}
.col-md-10, .col-sm-10 {
  width:83.333%;
  float:left;
}
.col-md-11, .col-sm-11 {
  width:91.666%;
  float:left;
}
.col-md-12, .col-sm-12 {
  width:100%;
  float:left;
}
.form-column {
  width:100%;
}

input + .input-group-addon {
  position:relative;
  left:-7px;
}

hr {
  margin-top:10px;
  margin-bottom:10px;
}

h2 {
  margin-bottom:10px;
  padding-bottom:10px;
}
