#roi-sidebar .well {
  position:absolute;
  border-radius:10px;
  border-top-left-radius:0;
  border-top-right-radius:0;
  background:#eaeaea;
  border:1px solid #e1e1e1;
  font-family:'Roboto', sans-serif;
  font-weight:100;
  color:#767979;
  font-size:18px;
  padding-top:25px;
  padding-left:0;
  padding-right:0;
  width:350px;
  margin-top:20px;
  padding-bottom:5px;
  max-width:100%;

  &:not(.opened) {
    table {
      display:none;
    }
  }

  table {
    background:#f2f2f2;
    width:100%;
    padding-left:15px;
    padding-right:15px;

    th {
      font-family:'Roboto', sans-serif;
      font-weight:100;
      padding-left:40px;
      color:#767979;
      line-height:2.5em;
    }
    td {
      font-family:'Roboto', sans-serif;
      font-weight:900;
      padding-right:40px;
      line-height:2em;
      text-align:right;
    }
  }

  &.fixed {
    position:fixed;
    top:63px;
  }

  #progress-holder {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    background:#ccd5d6;
    height:$progress-bar-height;

    #progress {
      position:absolute;
      top:0;
      left:0;
      height:$progress-bar-height;
      background:#bfc406;
    }
  }

  p {
    margin-bottom:0;
  }
  #estimated-roi {
    margin-top:-5px;
    font-size:28px;
    font-weight:900;
    color:$green;
  }
  #expand-roi {
    color:#b3b3b3;
    &:hover {
      color:$green;
    }
  }
}
